.container {
	margin: 40px;
}

.container2 {
	margin: 70px 40px 40px 40px;
	display: inline-block;
}

.body {
	background-color: #22B573;
}

.logo {
	width: 200px;
	float: right;
	margin-right: 40px;
}

.navigation-a {
	color: #ffffff;
	margin-left: 40px;
	margin-right: 40px;
	display: inline-block;
}

.navigation-li {
	display: inline-block;
	font-size: 48px;
	font-family: 'Noto Sans';
	line-height: 38px;
}

.navigation {
	margin-top: 10px;
	margin-right: 30px;
	float: right;
}

.active {
	color: orange;
}

.text {
	color: #000000;
}

.align-left {
	float: left;
}

.align-right {
	float: right;
}

.box {
	color: #000000;
	background-color: #FCEE21;
	padding: 20px;
	width: 40%;
	display: inline-block;
	float: left;
	margin-right: 35px;
}

.box2 {
	color: #000000;
	background-color: #FCEE21;
	padding: 20px;
	width: 40%;
	display: inline-block;
	float: right;
}

.text2 {
	margin-top: 20px;
}

.photo {
	margin: 10px;
}

.clear {
	clear: both;
}
